* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000 !important;
  position: relative;
}
body p {
  color: rgb(230, 230, 230);
  font-family: "Nunito", sans-serif;
}
body h2 {
  font-family: "Varela Round", sans-serif !important;
  font-weight: 600;
  color: rgb(230, 230, 230);
}
body hr {
  width: 60px;
  height: 4px !important;
  border-radius: 2px;
  background-color: #e79e16 !important;
  opacity: 1;
  margin: auto;
}
body h4 {
  color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
}
nav {
  font-family: "Nunito", sans-serif;
  border-bottom: 2px solid rgb(56, 56, 56);
  background: #000;
}
nav .container a.logo {
  font-size: 23px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  transition: 0.4s;
  font-family: "Varela Round", sans-serif !important;
}
nav div.container div.navbar-nav a.nav-link {
  color: rgb(65, 65, 65);
  font-weight: 600;
  transition: 0.4s;
  position: relative;
}
.hamburger {
  flex-direction: column !important;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background: #e79e16;
  margin: 3px;
  border-radius: 2px;
}
.hamburger span:nth-child(2) {
  width: 18px !important;
  align-self: flex-end;
}
.hamburger span:nth-child(3) {
  width: 13px !important;
  align-self: flex-end;
}
div.banner .container .hide {
  background: rgb(0, 0, 0);
  overflow: hidden;
}
div.banner .container .hide span.text {
  transform: translateY(100%);
  display: inline-block;
}
div.banner .container #facebook,
#instagram,
#github {
  height: 35px !important;
  width: 35px;
  padding: 5px;
  color: rgb(255, 255, 255);
  border: 3px solid #e79e16;
  border-radius: 50%;
  margin-right: 19px !important;
}
div.about div.container p span {
  color: #e79e16;
  font-weight: 600;
}
div.portofolio .container img.img-portofolio {
  transition: 0.2s;
}
div.portofolio .container img.img-portofolio:hover {
  opacity: 0.3;
}
.figure-caption {
  color: #e79e16;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  text-align: center;
}
div.skills .container .FE span:nth-child(1),
div.skills .container .BE span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to left,
    rgba(231, 158, 22, 0.6),
    rgba(47, 33, 5, 0.3)
  );
  width: 100%;
  height: 2px;
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
div.skills .container .FE span:nth-child(2),
div.skills .container .BE span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    to top,
    rgba(231, 158, 22, 0.6),
    rgba(47, 33, 5, 0.3)
  );
  width: 2px;
  height: 100%;
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
div.skills .container .FE span:nth-child(3),
div.skills .container .BE span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(231, 158, 22, 0.6),
    rgba(47, 33, 5, 0.3)
  );
  width: 100%;
  height: 2px;
  animation: animate3 2s linear infinite;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
div.skills .container .FE span:nth-child(4),
div.skills .container .BE span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(231, 158, 22, 0.6),
    rgba(47, 33, 5, 0.3)
  );
  height: 100%;
  width: 2px;
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
div.skills .container .row .FE,
div.skills .container .row .BE {
  padding: 15px;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
div.skills .container h4 {
  color: rgb(255, 255, 255);
  font-weight: 600 !important;
  text-align: center;
}
div.skills .container .row .skill #html,
#css,
#js,
#bootstrap,
#nodeJs,
#php {
  font-size: 44px !important;
  color: #e79e16 !important;
}

footer .container .col {
  margin-top: 80px;
}
footer p span {
  color: #e79e16;
  font-weight: 600;
}

/* Responsive Breakpoint */
@media (max-width: 575.98px) {
  body h2 {
    font-size: 20px;
  }
  div.container .col.text-center {
    margin: 50px 0 50px;
  }
  div.banner {
    text-align: justify;
    transform: translateY(-33px);
    margin-top: 150px;
  }
  div.banner .icon-sosmed {
    margin-bottom: 20px;
  }
  div.banner .container #facebook,
  #instagram,
  #github {
    height: 40px !important;
    width: 40px;
  }
  div.banner .container img.foto-profile {
    width: 200px;
  }
  div.about,
  div.portofolio,
  div.skills {
    margin-top: 50px;
  }
  div.portofolio .container br {
    display: none;
  }
  div.portofolio .container img {
    margin-bottom: 5px;
  }
  div.portofolio .container .col-12.portofolio {
    text-align: center;
  }
  div.portofolio .container .col-10.portofolio {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  div.skills .container .skill h4 {
    margin: 10px auto 25px;
  }
  div.skills .container .icon-skill {
    margin-bottom: 25px;
  }
  #particles-js {
    display: none;
  }
}

@media (min-width: 575.98px) and (max-width: 767.98px) {
  body h2 {
    font-size: 24px;
  }
  div.container .col.text-center {
    margin: 50px 0 50px;
  }
  div.banner {
    margin-bottom: 20px;
    margin-top: 110px;
  }
  div.banner .container #facebook,
  #instagram,
  #github {
    margin-top: 23px;
    margin-bottom: 25px;
  }
  div.about,
  div.portofolio,
  div.skills {
    margin-top: 60px;
  }
  div.portofolio .container .col-10.portofolio {
    margin-bottom: 30px;
  }
  div.portofolio .container img {
    margin-bottom: 5px;
  }
  div.skills .container h4 {
    margin: 25px auto;
  }
  div.skills .container .icon-skill {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  body h2 {
    font-size: 26px;
  }
  div.container .col.text-center {
    margin: 100px auto 50px;
  }
  div.banner {
    margin: 130px 0 10px;
  }
  div.banner .container h2.hallo {
    font-size: 26px;
    margin-top: 15px;
  }
  div.portofolio .container img {
    margin-bottom: 5px;
  }
  div.skills .container h4 {
    margin: 15px auto;
  }
  div.skills .container .icon-skill {
    text-align: center;
    margin-bottom: 30px;
  }
  #particles-js {
    top: -200px;
    left: 0;
  }
}

@media (min-width: 991.98px) {
  div.container .col.text-center {
    margin: 100px auto 50px;
  }
  nav div.container div.navbar-nav a.nav-link {
    position: relative;
    overflow: hidden;
    margin-left: 20px !important;
  }
  nav div.container div.navbar-nav a.nav-link:hover::after {
    content: "";
    display: block;
    width: 85px;
    height: 2px;
    position: absolute;
    background: #e79e16;
    bottom: 0;
    animation: garis 0.5s;
  }
  nav div.container div.navbar-nav a.nav-link.aktif {
    color: white;
  }
  nav div.container div.navbar-nav a.nav-link.aktif::after {
    content: "";
    display: block;
    width: 85px;
    height: 2px;
    position: absolute;
    background: #e79e16;
    bottom: 0;
    animation: garis 0.5s;
  }
  @keyframes garis {
    0% {
      transform: translateX(-80%);
      opacity: 0;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
  div.banner {
    margin: 150px 0;
  }
  div.banner .container #facebook,
  #instagram,
  #github {
    margin-bottom: 10px;
  }
  div.about .container div.nama-lengkap {
    margin-bottom: 30px;
  }
  div.portofolio,
  div.skills,
  div.about {
    margin-bottom: 100px;
  }
  div.portofolio .container img {
    margin-bottom: 5px;
  }
  div.skills .container .skill h4 {
    margin: 10px auto 25px;
  }
  #particles-js {
    height: 400px;
    top: 0;
    transform: translateY(-100px);
  }
}

@media (max-width: 1199.98px) {
}
